body {
    margin: 0;
    padding: 0;
    background: url(../img/zzz.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 450px;
    height: 500px;
    background: #1C3180;
    color: #FCEC07;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:20px;
  }
  
  .login-box .avatar {
    width: 200px;
    height: 100px;
    position: absolute;
    top: -25px;
    left: calc(38% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FCEC07;
    color: #1C3180;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FCEC07;
    color: #1C3180;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  .header {
    background-color: #1C3180;
    color: #FCEC07;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
  }

 
  